.netflix h1{
    font-weight: 900;
    font-size: 40px;
    color: #e50914;
    margin-right: 1080px;
    margin-top: 1px;
}
.sign h1{
    font-size: 28px;
    margin-top: 15px;
    color: #333;
}
.sign a{
    text-decoration: none;
}
nav{
    border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
    display: flex;
}
.container{
    /* border: 1px solid black; */
    position: relative;
    top: 62px;
    left: 474px;
    display: inline-block;
    width: 380px;
    /* height: 500px; */
}
.step .number{
    font-weight: 900;
}
.step .word{
    font-size: 12px;
    font-weight: 100;
}
.create{
    font-weight: 900;
    font-size: 30px;
    color: #333;
    margin-top: -22px;
}

.extra{
    margin-top: -22px;
    font-size: 20px;
    line-height: 35px;
}
.email input{
    width: 370px;
    margin-bottom: 10px;
    height: 51px;
    padding-left: 17px;
}
.submit{
    width: 396px;
    height: 53px;
    background-color: #e50914;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}